<h1 style="text-align: center; position: relative; top: 30%; font-size: 500%; color: rgb(232, 202, 24)">Citrine API Challenge Problem</h1>
 
<h2 style="text-align: center; position: relative; top: 35%; left: 15%; width: 70%; color: rgb(112, 112, 112)">API can be accessed from "/units/si?". Enter the units you would like converted as shown (units=degree/minute). A json response will be returned in the form of { “unit_name”: "", “multiplication_factor”: 0 }. If you enter a unit, not supported you will get the following response { “unit_name”: "N/A", “multiplication_factor”: 0 }. </h2>